<?xml version='1.0' encoding='utf-8'?>
<Settings><SourceVideo>D:/Temp/vincula_linea_ine_telcelDemo-iPhone-2026_04_10.mp4</SourceVideo><DestinationVideo>D:/Temp/vincula_linea_ine_telcelDemo-iPhone-2026_04_10_edited.mp4</DestinationVideo><RemoveFrom>00:00:19.496</RemoveFrom><RemoveTo>00:00:22.060</RemoveTo></Settings>